body{
    font-family: 'Muli', sans-serif;
}
p{
    color: rgb(117,117,117);
}
img{
    max-width:100%;
    height:auto;
}

/**
*Header-Bereich
*/

.header{
    height:720px;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.header-navbar-links{
    color:white;
    float:right;
    margin-top:50px;
}
.header-navbar-links li{
    float:left;
    list-style-type:none;
    margin-left:26px;
    text-shadow:0px 0px 10px black;
    font-size: 20px;
}
.header-brand-wrapper{
    margin-top:50px;
    float:left;
}
.header-brand{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    display:block;
    margin-top:-8%;
    text-shadow:0px 0px 10px black;
}
.slogan{
    color:white;
    text-align:center;
    padding-top:15%;
    text-shadow:0px 0px 15px black;
}
.slogan-top{
    font-size:300%;
    font-weight:lighter;
}
.slogan-bottom{
    font-size:400%;
    font-weight:bold;
}
.background{
    background-color:rgba(0, 0, 0, 0.288);
    height: 100%;
    width: 100%;
}
.slogan-button{
    margin-top:35px;
    color:rgb(255,255,255);
    text-shadow:0px 0px 10px black;
}
.slogan-button:hover{
    color:rgb(255,255,255);
    text-shadow:0px 0px 10px black;
}

/**
*Service-Bereich
*/

.service{
    padding-top:100px;
    padding-bottom:75px;
}
.service-2{
    padding-top:100px;
    padding-bottom:75px;
    background-color:rgb(245,245,245);
}
.service-title{
    font-weight:lighter;
    color:rgb(30,30,30);
}
.service p{
    font-weight:bold;
    font-size:20px;
}
.service-2 p{
    font-weight:bold;
    font-size:20px;
}
.service-icon{
    font-size:1300%;
    color:rgb(224,224,224);
    text-align: center;
}
.service-2-icon{
    font-size:1300%;
    color:rgb(224,224,224);
    text-align: center; 
}

/**
* Features-Bereich
*/

.features{
    padding-top:100px;
    padding-bottom:75px;
}
.feature-icon{
    width:70px;
    height:60px;
    padding-top:10px;
    background-color:rgb(30,30,30);
    border-radius: 35px;
    color:rgb(255,255,255);
    text-align: center;
    font-size:30px;
    float:left;
}
.feature-text{
    margin-left:100px;
}
.feature-text h5{
    font-size:150%;
    color:rgb(30,30,30);
    font-weight:bold;
}
.feature-text p{
    margin-top: -20px;
    font-size:17px;
}
.container{
    margin-left: auto;
}
.six-columns{
    width:50%;
}

/**
* Love - Bereich
**/

.about{
    font-size:2em;
}
.love{
    width:100%;
    text-align:center;
}
blockquote{
    color:rgb(30,30,30);
    font-style: italic;
}

blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    
    /*Positioning*/
    position: relative;
    left: 10px;
    top:5px;
    margin-right:20px;
    
  }

/**
*Clients - Bereich
**/

.clients{
    padding-top:100px;
    padding-bottom:100px;
    background-color:rgb(245,245,245);
}
.clients-heading{
    text-align:center;
    font-weight:lighter;
    margin-bottom:0px;
}
.clients-subheading{
    text-align:center;
    margin-bottom:50px;
}
.rounded{
    margin-top:40px;
    border-radius: 50%; 
    border:solid 5px white;
}
.client-quote{
    background-color:rgb(255,255,255);
    border:2px solid rgb(235,235,235);
    padding-left:75px;
    padding-top:35px;
    padding-bottom:45px;
    padding-right:75px;
    border-radius:3px;
    font-size:150%;
    font-weight:lighter;
    font-style:italic;
    position: relative;
}
.client-quote p {
    margin-bottom:0px;
}
.client-name{
    font-style:normal;
    font-size:75%;
    color:rgb(119,147,197);
}
.client-quote::before,
.client-quote::after{
    content:"";
    display:block;
    width:0px;
    height:0px;
    position:absolute;
}
.client-quote::before{
    top:50%;
    left:-30px;
    margin-top:-15px;
    border:15px solid transparent;
    border-right:15px solid rgb(235,235,235);
}
.client-quote::after{
    top:50%;
    left:-26px;
    margin-top:-13px;
    border:13px solid transparent;
    border-right: 13px solid white;
    }

.client-quote-left::before{
    top:50%;
    left:auto;
    right:-30px;
    margin-top:-15px;
    border:15px solid transparent;
    border-left:15px solid rgb(235,235,235);
}
.client-quote-left::after{
    top:50%;
    left:auto;
    right:-26px;
    margin-top:-13px;
    border:13px solid transparent;
    border-left: 13px solid white;
    }

 